<div class="container-fluid">
    <div class="row">
        <button class="add-button" mat-button>
            <i class="material-icons">
                add_circle_outline
            </i>

        </button>
    </div>
    <div class="row schedule-body">
        <div class="text-center">
            <p>Thiết lập số ngày tự động tạo lịch hẹn với khách hàng sau ngày hoàn thành dịch vụ:</p>
            <div class="form-input">
                <input type="text">
                <span>ngày</span>
            </div>
            <button class="submit-btn">Xác nhận</button>
        </div>

    </div>
    <div class="row">
        <div>

        </div>
    </div>
</div>