.row {
  margin-bottom: 1em;
}

.imagePicking {
  // position: relative;
  overflow: auto;
  max-height: 200px;
}

.add_image_btn {
  width: 70px;
  height: 70px;
  font-size: 12px;
}

.photo_icon {
  position: absolute;
  bottom: 0;
  right: 45%;
  color: #3db4a9;
  z-index: 9999;
  &:hover {
    cursor: pointer;
    font-size: xx-large;
    color: #557ec5;
    transition: 0.3s;
  }
}
