<div class="container-fluid customer-table">
    <div class="row">
        <div class="col-2">
            <div class="customer-header">
                <div class="customer-title">

                    <button mat-button [matMenuTriggerFor]="menu">
                        Danh sách khách hàng
                        <span class="material-icons">
                            unfold_more
                        </span>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/pages/customer/storage">Kho</button>
                        <button mat-menu-item routerLink="/pages/customer/file-upload">File upload</button>
                    </mat-menu>

                </div>
                <div class="function-btn my-1">
                    <button class="add-button" matTooltip="Thêm khách hàng mới" [matMenuTriggerFor]="createCustomer"
                        *ngIf="isAccessAdd">
                        <i class="material-icons">
                            add_circle_outline
                        </i>
                    </button>
                    <mat-menu #createCustomer="matMenu">
                        <button mat-menu-item routerLink="/pages/customer/create">
                            <mat-icon>person_add</mat-icon>&nbsp; Thêm khách hàng
                        </button>
                        <button mat-menu-item (click)="openUploadFileForm()">
                            <mat-icon>cloud_upload</mat-icon>&nbsp; Tải tệp
                        </button>
                    </mat-menu>
                    <button class="add-button" matTooltip="Giao khách hàng" (click)="openEmployeeListDialog()"
                        [style.display]="
              assignedCustomerList.length == 0 ? 'none' : 'inline'
            ">
                        <img src="assets/svg/assign-customer.svg" alt="" />
                    </button>
                    <button [style.display]="
              assignedCustomerList.length == 0 ? 'none' : 'inline'
            " class="export-excel" (click)="exportExcel()" matTooltip="Xuất Excel danh sách KH">Export</button>


                </div>
            </div>
        </div>
        <div class="col">
            <div class="filter-block">
                <!-- <div class="item">
                    <span>Quốc gia</span>
                    &nbsp;
                    <select class="form-control" (change)="filterByCountry($event)">
                        <option *ngFor="let country of countries" [value]="country?.CountryId">
                            {{country?.Name}}
                        </option>
                    </select>
                </div> -->

                <div class="item">
                    <span>Nguồn KH</span>
                    &nbsp;
                    <select class="form-control" (change)="filterByType($event)">
                        <option value="">Tất cả</option>
                        <option [value]="1">Hot line</option>
                        <option [value]="2">Khách giới thiệu</option>
                        <option [value]="3">Facebook</option>
                        <option [value]="4">Web</option>
                        <option [value]="5">Data</option>
                        <option [value]="6">Cộng tác viên</option>
                        <option [value]="7">Affiliate</option>
                    </select>
                </div>
                <div class="item">
                    <span>Giới tính</span>
                    &nbsp;
                    <select class="form-control" (change)="filterByGender($event)">
                        <option value="">Tất cả</option>
                        <option value="1">Nam</option>
                        <option value="2">Nữ</option>
                    </select>
                </div>

                <div class="item">
                    <select class="form-control" (change)="chooseFieldType($event)">
                        <option value="">Tìm kiếm theo... </option>
                        <option value="1">Họ tên</option>
                        <option value="2">Số điện thoại</option>
                    </select>
                    <input (keyup.enter)="searchByFields()" [(ngModel)]="searchString" type="text" class="form-control"
                        placeholder="Nhập từ khóa">
                    <span (click)="searchByFields()" class="material-icons search-icon">
                        search
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="shared-table">
                <table class="table">
                    <thead>
                        <tr class="table-sale__header">
                            <th scope="col col-checkbox">
                                <mat-checkbox color="primary" (change)="selectAll()"></mat-checkbox>
                            </th>
                            <th scope="col">Mã KH</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Điện thoại</th>
                            <th scope="col">Nguồn</th>
                            <th scope="col">Sale phụ trách</th>
                            <th scope="col">Ngày gọi</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col">Gọi điện</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let customer of customers | paginate: { itemsPerPage: 10, currentPage: pageNumber, totalItems: count }">
                            <td scope="row col-checkbox">

                                <mat-checkbox color="primary" [checked]="isSelectAll"
                                    (change)="chooseCustomerAssignToSale(customer);chooseCustomer(customer?.CustomerID)">
                                </mat-checkbox>
                            </td>

                            <td (click)="viewCustomerDetail(customer?.CustomerID)">
                                {{ customer?.CustomerID }}
                            </td>
                            <td (click)="viewCustomerDetail(customer?.CustomerID)">
                                {{ customer?.LastName }}
                            </td>
                            <td (click)="viewCustomerDetail(customer?.CustomerID)">
                                {{ customer?.Phone }}
                            </td>
                            <td (click)="viewCustomerDetail(customer?.CustomerID)">
                                <div *ngIf="customer?.Type === 1">Hot line</div>
                                <div *ngIf="customer?.Type === 2">Khách giới thiệu</div>
                                <div *ngIf="customer?.Type === 3">Facebook</div>
                                <div *ngIf="customer?.Type === 4">Web</div>
                                <div *ngIf="customer?.Type === 5">Data</div>
                                <div *ngIf="customer?.Type === 6">Cộng tác viên</div>
                                <div *ngIf="customer?.Type === 7">Affiliate</div>
                            </td>

                            <td (click)="viewCustomerDetail(customer?.CustomerID)">
                                {{ customer?.EmployeeFullName }}
                            </td>

                            <td (click)="viewCustomerDetail(customer?.CustomerID)">
                                <div>
                                    {{ customer?.CallCreatedOn | date: 'dd/MM/yyyy, h:mm a' }}
                                </div>
                            </td>
                            <td (click)="viewCustomerDetail(customer?.CustomerID)">
                                <div matTooltip="{{ customer?.CallNoteContent }}" matTooltipClass="tooltip-class"
                                    class="user-note">
                                    {{ customer?.NoteContent }}
                                </div>

                            </td>

                            <td>
                                <button class="call" (click)="callCustomer(customer?.CustomerID, customer?.Phone)">
                                    <span class="material-icons">
                                        call
                                    </span>
                                </button>
                            </td>

                        </tr>

                    </tbody>
                </table>
                <div class="pagination-controls">
                    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
            </div>

        </div>
    </div>
</div>