<div class="dialog-container container">
    <div class="row">
        <div class="col-10">
            <span class="dialog-title">Tạo ghi chú</span>
        </div>
        <div class="col-1">
            <span class="close-button" (click)="closeDialog()"><i class="material-icons"> close </i></span>
        </div>
    </div><br>
    <form ngNativeValidate #updateForm="ngForm" class="note-form">
        <div class="row w-100">
            <div class="col-3">
                <mat-label for="">Tiêu đề:</mat-label>
            </div>
            <div class="col-9">
                <mat-form-field>
                  <input matInput type="text" name="noteTitle" [(ngModel)]="noteTitle" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-3"><br>
                <mat-label>Chi tiết:</mat-label>
            </div>
            <div class="col-9">
                <mat-form-field>
                    <textarea (keyup)="autoGrowTextZone($event)" matInput name="noteContent" [(ngModel)]="noteContent" required> </textarea>
                </mat-form-field>
            </div>
        </div><br>
        <div class="row mt-4">
            <div class="col text-center text-light">
                <button class="btn customBtn" [disabled]="updateForm.invalid" (click) = "updateNote()">Sửa</button>
            </div>
        </div><br>
    </form>
</div>