<div class="container assignCustomer">
    <!-- <div class="row">
        <div class="search-box">
            <input class="searchInput" matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm"><i
                class="material-icons">
                search
            </i>
        </div>
    </div> -->
    <div class="row">
        <div class="col">
            <div class="shared-table">
                <table class="table">
                    <thead>
                        <tr class="table-sale__header">
                            <th scope="col">Mã NV</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Điện thoại</th>
                            <th scope="col">Phòng ban</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 10, currentPage: pageNumber, totalItems: count }"
                            (click)="selectedEmployee(employee.EmployeeId)"
                            [class.selected-row]="selectedEmployeeId.includes(employee.EmployeeId)">

                            <td>
                                {{ employee?.EmployeeId }}
                            </td>
                            <td>
                                {{ employee?.FullName }}
                            </td>
                            <td>
                                {{employee?.Phone}}
                            </td>
                            <td>
                                {{employee?.DepartmentName}}
                            </td>

                        </tr>

                    </tbody>
                </table>
                <div class="pagination-controls">
                    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn customBtn mx-auto" (click)="assignCustomerToSale()">
                Giao KH
            </button>
        </div>
    </div>
</div>