<div class="service">
    <div class="service-grid">
        <div class="detail">
            <app-surgery-info [currentService]="currentService"></app-surgery-info>
        </div>
        <div class="result">
            <app-surgery-result [currentService]="currentService"></app-surgery-result>
        </div>
        <div class="medical-schedule">
            <app-medical-schedule [currentService]="currentService"></app-medical-schedule>
        </div>
        <div class="change-bandage">
            <app-change-bandage [currentService]="currentService"></app-change-bandage>
        </div>
        <div class="payment">
            <app-payment-info [currentService]="currentService"></app-payment-info>
        </div>
        <div class="advisory-schedule">
            <app-advisory-schedule [currentService]="currentService"></app-advisory-schedule>
        </div>
        <div class="carecallschedule">
            <app-carecallschedule [currentService]="currentService"></app-carecallschedule>
        </div>
    </div>
</div>