<div class="container-fluid">
  <div class="row" *ngIf="isShow == 0">
    <div class="col">
      <button class="add-button my-2" matTooltip="Thêm đơn hàng" (click)="showCreateContractForm()"
        *ngIf="isAccessAdd">
        <i class="material-icons">
          add_circle_outline
        </i>
      </button>

      <div class="shared-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Tên ĐH</th>
              <th scope="col">Ngày</th>
              <th scope="col">Dịch vụ</th>
              <th scope="col">Giá trị</th>
              <th scope="col">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let contract of contractList | paginate: { itemsPerPage: 10, currentPage: pageNumber, totalItems: 10 }"
              (click)="showContractDetail(contract)">

              <td>
                {{contract?.ContractCode}}
              </td>
              <td>
                {{contract?.SignedDate | date : 'dd/MM/yyyy'}}
              </td>
              <td>
                {{contract?.SurgeryServiceName}}
              </td>
              <td>
                {{contract?.Amount | number:'.'}}
              </td>

              <td>
                <div *ngIf="contract.Status == 1">Đang chăm sóc</div>
                <div *ngIf="contract.Status == 2">Dừng chăm sóc</div>
                <div *ngIf="contract.Status == 3">Đã kí</div>
              </td>

            </tr>

          </tbody>
        </table>
        <div class="pagination-controls">
          <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isShow == 1">
    <div class="col">
      <app-create-customer-contract (messageEvent)="receiveMessage($event)"></app-create-customer-contract>
    </div>
  </div>
  <div class="row" *ngIf="isShow == 2">
    <div class="col">
      <app-customer-contract-detail></app-customer-contract-detail>
    </div>
  </div>

</div>