.contractImg{
    // margin-bottom: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    span{
        margin: 3px;
    :hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.075);
        padding: 5px;
        
        }
    }

}