.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  height: 40px;
  box-shadow: 5px 5px 8px #cccccc, -5px -5px 8px #ffffff;
  font-size: 16px;
  font-weight: 500;
  background: #3db4a9;
  color: #fff;
  text-align: center;
}

.shared-table {
  .table {
    thead {
      background: #3db4a9;
      color: #ffff;
    }
    th {
      padding: 0.4rem;
      border: none;
    }
    td {
      padding: 0.4rem;
      vertical-align: middle;
    }
    td:first-child {
      border-radius: 10px 0 0 10px;
    }

    td:last-child {
      border-radius: 0 10px 10px 0;
    }
    th:first-child {
      border-radius: 10px 0 0 10px;
    }
    th:last-child {
      border-radius: 0 10px 10px 0;
    }
  }

  .pagination-controls {
    text-align: center;
  }

  .user-note {
    width: 12vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  ::ng-deep .mat-checkbox-layout {
    margin-bottom: 0;
  }
}

.filter-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-gap: 20px;
  .item {
    display: flex;
    align-items: center;
    span {
      width: 7em;
    }
    .search-icon {
      margin-left: -23px;
    }
    .choose-field {
      width: 60%;
    }
    .clearStr {
      position: absolute;
      right: 90px;
      mat-icon {
        margin-bottom: 5px;
        font-size: medium;
      }
    }
  }
}
