<form class="dialog-container container" [formGroup]="notificationForm" (ngSubmit)="createNotification()">
    <div class="row">
        <div class="col-10">
            <div class="dialog-title">Tạo thông báo</div>
        </div>
        <div class="col-2 pl-4">
            <span class="material-icons close-button" (click)="closeDialog()">
                close
            </span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <mat-label>Tiêu đề:</mat-label>
        </div>
        <div class="col-9">
            <input class="form-control" formControlName="name">
        </div>
    </div>

    <div class="row">
        <div class="col-3"><br>
            <mat-label>Nội dung:</mat-label>
        </div>
        <div class="col-9">
            <textarea class="form-control" rows="6" formControlName="description"></textarea>
        </div>
    </div>


    <div class="row">
        <div class="col text-center text-light">
            <button class="btn customBtn" type="submit" [disabled]="notificationForm.invalid">Tạo</button>
        </div>
    </div>

</form>