.dialog-container {
    min-width: 45rem;
    min-height: 30rem;
}

.imagePicking{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    overflow: auto;
    border: none;
}

.row{
    margin-bottom: 1em;
}

.title {
    i {
        color: #224177;
    }
}

