<div class="container-fluid">
  <div class="row">
    <div class="col">
      <br>
      <mat-tab-group *ngIf="isShow === 3" [(selectedIndex)]="selectedIndex">
        <mat-tab label="Sales">
          <app-call-log-sale></app-call-log-sale>
        </mat-tab>
        <mat-tab label="CSKH">
          <app-call-log-customer-care></app-call-log-customer-care>
        </mat-tab>
        <!-- <mat-tab>
          <ng-template mat-tab-label>
            <div (click)="loadCustomerCareCallLog()">CSKH</div>
          </ng-template>
          <div #customerCare></div>
        </mat-tab> -->

      </mat-tab-group>

      <app-call-log-sale *ngIf="isShow === 1"></app-call-log-sale>

      <app-call-log-customer-care *ngIf="isShow === 2"></app-call-log-customer-care>

    </div>
  </div>
</div>