.storage-title {
  width: 7rem;
  height: 40px;
  background: #3db4a9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  margin-top: 0.6em;
  button {
    color: #fff;
    z-index: 1000;
    font-size: medium;
  }
  span {
    background: #3db4a9;
    color: #fff;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
}
.storage-mat-tab {
  ::ng-deep .mat-tab-header {
    margin-left: 7rem !important;
    .mat-tab-label {
      min-width: 130px;
    }
  }

  p {
    margin-bottom: 0px;
  }
}

.load-button {
  width: 100px;
  height: 50px;
  background: none;
  border: none;
}
