<div class="shared-table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ngày</th>
                <th scope="col">Giờ</th>
                <th scope="col">Đơn hàng</th>
                <th scope="col">File ghi âm</th>
                <th scope="col">Sale phụ trách</th>
                <th scope="col">Ghi chú </th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let callLog of callLogList | paginate: { itemsPerPage: 10, currentPage: pageNumber, totalItems: 10 }">

                <td>
                    {{callLog?.DateString}}
                </td>
                <td>
                    {{callLog?.TimeString}}
                </td>
                <td>
                    {{callLog?.ContractCode}}
                </td>
                <td>
                    <audio controls style="width: 270px;">
                        <source src="{{callLog.URL}}" type="audio/ogg">
                    </audio>
                </td>

                <td>
                    {{callLog?.EmployeeName}}
                </td>
                <td>
                    {{callLog?.NoteContent}}
                </td>
            </tr>

        </tbody>
    </table>
    <div class="pagination-controls">
        <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
</div>