<form action="">
    <div class="container schedule-booking">
        <div>
            <h1 class="text-center mt-3" style="margin-left: -2em;">Chi tiết lịch hẹn</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <div>
                    <mat-label>Loại lịch</mat-label>
                    <mat-form-field>
                        <mat-select name="type" [(ngModel)]="type">
                            <mat-option value="1">Hẹn</mat-option>
                            <mat-option value="2">Gọi</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-label>Sale phụ trách</mat-label>
                    <mat-form-field>
                        <input matInput type='text' name='sale' [(ngModel)]="sale" readonly>
                    </mat-form-field>
                </div>

                <div>
                    <mat-label>Liên hệ</mat-label>
                    <mat-form-field>
                        <mat-select [(value)]="contactType">
                            <mat-option value="1">Zalo</mat-option>
                            <mat-option value="2">Email </mat-option>
                            <mat-option value="3">Gọi điện </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-label>Ngày</mat-label>
                    <mat-form-field>
                        <input matInput type='date' name="dayDate" [(ngModel)]="dayDate">
                    </mat-form-field>
                </div>

                <div>
                    <mat-label>Giờ</mat-label>
                    <mat-form-field>
                        <input matInput type='time' name="hourDate" [(ngModel)]="hourDate">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-6">
                <div class="mt-2">
                    <mat-label>Ghi chú</mat-label>
                    <mat-form-field style="margin-top: -15px;">
                        <textarea (keyup)="autoGrowTextZone($event)" matInput name="description"
                            [(ngModel)]="description"> </textarea>
                    </mat-form-field>
                </div>
                <div class="mt-2">
                    <mat-label>Trạng thái</mat-label>
                    <div class="scheduleStatus">
                        <input type="checkbox" id="historyStatus" name="status" [checked]="status == 2" (change)="chooseStatus(status)" hidden>
                        <label for="historyStatus"><i class="material-icons">close</i></label>
                        <label for="historyStatus"><i class="material-icons">check</i></label>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="insideShadow btnGroup ">
            <button class="btn customBtn" (click)="updateCustomerHistory()">Lưu</button>
            <button class="btn cancelBtn" (click)="deleteCustomerHistory()">Xóa</button>
        </div><br>
    </div>
</form>