.assignCustomer {
  position: absolute !important;
  width: 70rem !important;
  height: 100vh !important;
  top: 0;
  right: 0;
  background: #fff;
  padding-top: 3rem;
}

.table {
  height: 65vh;
  overflow: auto;
  td {
    vertical-align: middle;
  }
  th {
    vertical-align: middle;
  }
}

th.mat-header-cell[_ngcontent-jsn-c196]:first-of-type {
  padding-left: unset !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: unset !important;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  left: 0;
  position: absolute;
  top: 0;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 7px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.assign-btn {
  width: 100%;
  text-align: center;
  button {
    background: #e4bc65;
    color: #ffffff;
  }
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: unset !important;
  label {
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-bottom: 0 !important;
  }
  input[type="checkbox"] {
    visibility: hidden;
  }

  input[type="checkbox"]:checked + label {
    background-color: #3db4a9;
    border-color: #3db4a9;
  }

  input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
}

.search-box {
  display: flex;
  position: absolute;
  right: 90px;
  margin-top: -50px;
  right: 32px;
  width: 290px;
  .searchInput {
    border: 1px solid white;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #cccccc, inset -5px -5px 10px #ffffff;
    height: 40px;
    padding-left: 20px !important;
    position: absolute;
  }
  i {
    position: absolute;
    color: #224177;
    right: 0px;
    margin-top: 7px;
    margin-right: 10px;
  }
}
