<table mat-table [dataSource]="dataSource" class="mt-2 table-hover table-striped text-center customTableStyle w-100">
    <ng-container matColumnDef="Ngày">
        <th mat-header-cell *matHeaderCellDef> Ngày </th>
        <td mat-cell *matCellDef="let callLog">{{callLog?.DateString}}</td>
    </ng-container>
    <ng-container matColumnDef="Giờ">
        <th mat-header-cell *matHeaderCellDef> Giờ </th>
        <td mat-cell *matCellDef="let callLog">{{callLog?.TimeString}}</td>
    </ng-container>
    <ng-container matColumnDef="Đơn hàng">
        <th mat-header-cell *matHeaderCellDef> Đơn hàng </th>
        <td mat-cell *matCellDef="let callLog">{{callLog?.ContractCode}}</td>
    </ng-container>
    <!-- <ng-container matColumnDef="Thời lượng">
                      <th mat-header-cell *matHeaderCellDef> Thời lượng </th>
                      <td mat-cell *matCellDef="let callLog">{{callLog.Phone}}</td>
                    </ng-container> -->
    <ng-container matColumnDef="File ghi âm">
        <th mat-header-cell *matHeaderCellDef> File ghi âm </th>
        <td mat-cell *matCellDef="let callLog">
            <audio controls style="width: 270px;">
                <source src="{{callLog.URL}}" type="audio/ogg">
            </audio>
        </td>
    </ng-container>
    <ng-container matColumnDef="Sale phụ trách">
        <th mat-header-cell *matHeaderCellDef> CSKH </th>
        <td mat-cell *matCellDef="let callLog">{{callLog?.EmployeeName}}</td>
    </ng-container>

    <ng-container matColumnDef="Ghi chú">
        <th mat-header-cell *matHeaderCellDef> Ghi chú </th>
        <td mat-cell *matCellDef="let callLog">
            <div class="text-note" matTooltip="{{callLog?.NoteContent}}" matTooltipClass="tooltip-class">
                {{callLog?.NoteContent}}
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="Level">
        <th mat-header-cell *matHeaderCellDef>Đánh giá </th>
        <td mat-cell *matCellDef="let callLog">
            <div class="rate">
                <input disabled [checked]="rating == 5" type="radio" id="star5" name="rate" />
                <label for="star5" title="text">5 stars</label>
                <input disabled [checked]="rating == 4" type="radio" id="star4" name="rate" />
                <label for="star4" title="text">4 stars</label>
                <input disabled [checked]="rating == 3" type="radio" id="star3" name="rate" />
                <label for="star3" title="text">3 stars</label>
                <input disabled [checked]="rating == 2" type="radio" id="star2" name="rate" />
                <label for="star2" title="text">2 stars</label>
                <input disabled [checked]="rating == 1" type="radio" id="star1" name="rate" />
                <label for="star1" title="text">1 star</label>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let callLog; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="7" showFirstLastButtons="false">
</mat-paginator>